<<<<<<< HEAD
body {
    background-color: rgba(18, 13, 25, 1.0);
    padding: 0;
    margin: 0;
=======
/*
* Ilan Kleiman
* February 10th 2015
* Spiral - style.css
* http://ilankleiman.com
*/

body
{
	background-color: rgba(40, 40, 35, 1.0);
	margin: 0px;
	padding: 0px;
>>>>>>> FETCH_HEAD
}
.mountains
{
    width: 0; 
    height: 0; 

    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-bottom: 55px solid rgba(248, 248, 255, 0.7);

    /*background-color: rgba(248, 248, 255, 1.0);*/

    position: absolute;
    bottom: 0px;

    z-index: 4;
}

.stars
{
    position: absolute;
    height: 2px;
    width: 2px;
    background-color: #FFFFFF;
}
#shootingstar
{
<<<<<<< HEAD
    position: absolute;
    height: 2px;
    width: 2px;
    background-color: #FFFFFF;
}
=======
	position: fixed;
	top: 45%;
	left: 50%;
	border: 1px;
	/*
	border: 1px solid red;
	*/
	opacity: 0.2;
	border: 0px solid #000000;
	width: 0px;
	height: 0px;
	background-color: rgba(0,0,0,0.0); 
	z-index: 2;
}
>>>>>>> FETCH_HEAD
