/*
* Ilan Kleiman
* February 10th 2015
* Spiral - style.css
* http://ilankleiman.com
*/

body
{
	background-color: rgba(40, 40, 35, 1.0);
	margin: 0px;
	padding: 0px;
}
.mountains
{
    width: 0; 
    height: 0;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-bottom: 55px solid rgba(248, 248, 255, 0.7);
    position: absolute;
    bottom: 0px;
    z-index: 4;
}

.stars
{
    position: absolute;
    height: 2px;
    width: 2px;
    background-color: #FFFFFF;
}
#shootingstar
{
    position: absolute;
    height: 2px;
    width: 2px;
    background-color: #FFFFFF;
}
